<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="IFIXIT.iFixitRepairManual" Publisher="CN=FAEE55AF-5720-4CDD-82C3-567FD8452C22" Version="1.1.0.1" />
  <Properties>
    <DisplayName>iFixit: Repair Manual</DisplayName>
    <PublisherDisplayName>IFIXIT</PublisherDisplayName>
    <Logo>Assets\App\StoreLogo.jpg</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="iFixit.W81.UI.App">
      <m2:VisualElements DisplayName="iFixit: Repair Manual" Square150x150Logo="Assets\App\Square150x150Logo.png" Square30x30Logo="Assets\App\Square30x30Logo.png" Description="iFixit.W81.UI" ForegroundText="light" BackgroundColor="#333333" ToastCapable="true">
        <m2:DefaultTile ShortName="iFixit" Wide310x150Logo="Assets\app\Wide310x150Logo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\App\SplashScreen.png" BackgroundColor="#333333" />
        <m2:ApplicationView MinWidth="width500" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="proximity" />
  </Capabilities>
</Package>