<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="da2519f1-2007-4120-abde-c3d112eb5953"
            Publisher="CN=cmorgado"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>iFixit.W8.UI</DisplayName>
    <PublisherDisplayName>cmorgado</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="iFixit.W8.UI.App">
        <VisualElements
            DisplayName="iFixit.W8.UI"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="iFixit.W8.UI"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>